@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Slider Section (Resimli kaydırılan kısım) ======= -->
<section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <div class="col-12">
                <div class="swiper sliderFeaturedPosts">
                    <div class="swiper-wrapper" id="heroPosts" onload="getHeroPosts()">
                        @*Ajax ile partial view'dan gelecek*@
                    </div>
                    <div class="custom-swiper-button-next">
                        <span class="bi-chevron-right"></span>
                    </div>
                    <div class="custom-swiper-button-prev">
                        <span class="bi-chevron-left"></span>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero Slider Section -->
<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="post-entry-1 lg" id="gridBigPost">
                </div>

            </div>

            <div class="col-lg-8">
                <div class="row g-5">
                    <div class="col-lg-4 border-start custom-border">
                        <div class="post-entry-1" id="gridPostOne">
                        </div>
                        <div class="post-entry-1" id="gridPostTwo">
                        </div>
                        <div class="post-entry-1" id="gridPostThree">
                        </div>
                    </div>
                    <div class="col-lg-4 border-start custom-border">
                        <div class="post-entry-1" id="gridPostFour">
                        </div>
                        <div class="post-entry-1" id="gridPostFive">
                        </div>
                        <div class="post-entry-1" id="gridPostSix">
                        </div>
                    </div>

                    <!-- Trending Section -->
                    <div class="col-lg-4" id="trend">

                       

                    </div>
                    <!-- End Trending Section -->
                </div>
            </div>

        </div> <!-- End .row -->
    </div>
</section> <!-- End Post Grid Section -->
<!-- ======= Software Category Section ======= -->
<section class="category-section" id="firstSection">
    
</section>
<!-- End Culture Category Section -->
<!-- ======= Wolrd Category Section ======= -->
<section class="category-section" id="secondSection">

</section>
<!-- End Business Category Section -->
<!-- ======= Lifestyle Category Section ======= -->
<section class="category-section" id="thirdSection">

</section>
<!-- End Lifestyle Category Section -->