@using Project.Application.Models.DTOs.AppUserDTOs;
@{
    Layout = null;
}

@model LoginDTO

<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/loginTemplate/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/loginTemplate/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">KaeR Blog</h2>
                    <h3 class="heading-section">Giriş Yap</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form asp-action="Login" asp-controller="User" method="post" class="signin-form">
                            <div class="bg-success text-white text-center">@TempData["Success"]</div>
                            <div class="form-group">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" id="password-field" type="password" class="form-control" placeholder="Şifre" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="text-white font-weight-bold rounded">@ViewBag.Hata</div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-primary submit px-3" value="Giriş Yap"/>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Beni Hatırla
                                        <input asp-for="RememberMe" type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a asp-controller="User" asp-action="ForgetPassword" style="color: #fff">Şifremi Unuttum</a>
                                </div>
                            </div>
                            <div class="text-md-right">
                                <a asp-action="Register" asp-controller="User" style="color: #fff">Kayıt Ol</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/loginTemplate/js/jquery.min.js"></script>
    <script src="~/loginTemplate/js/popper.js"></script>
    <script src="~/loginTemplate/js/bootstrap.min.js"></script>
    <script src="~/loginTemplate/js/main.js"></script>

</body>
</html>


