@using Project.Application.Models.VMs.AppUserVMs
@{
    Layout = null;
}
@model ResetPasswordVM

<!doctype html>
<html lang="en">
<head>
    <title>RenewPassword</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/loginTemplate/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/loginTemplate/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="text-white">Şifreni Yenile</h3>
                        <div class="bg-danger text-white">@ViewBag.Uyarı</div>
                        <form method="post">
                            <div asp-validation-summary="All" class="bg-danger text-white"></div>
                            <div class="form-group">
                                <label>Şifrenizi Giriniz</label>
                                <input type="text" class="form-control" asp-for="Password" />
                            </div>
                            <div class="form-group">
                                <label>Şifrenizi Tekrar Giriniz</label>
                                <input type="text" class="form-control" asp-for="ConfirmPassword" />
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Şifreyi Güncelle" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/loginTemplate/js/jquery.min.js"></script>
    <script src="~/loginTemplate/js/popper.js"></script>
    <script src="~/loginTemplate/js/bootstrap.min.js"></script>
    <script src="~/loginTemplate/js/main.js"></script>

</body>
</html>




