<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item nav-category">Blog İşlemleri</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Post İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Post Oluştur</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Postları Listele</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-apps"></i>
                <span class="menu-title">Kategori İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Kategori Oluştur</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Kategorileri Listele</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="menu-icon mdi mdi-comment-multiple-outline"></i>
                <span class="menu-title">Yorum İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Yorumları Listele</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#yanit" aria-expanded="false" aria-controls="yanit">
                <i class="menu-icon mdi mdi-message-reply-text"></i>
                <span class="menu-title">Yanıt İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="yanit">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Yanıtları Listele</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="menu-icon mdi mdi-check-circle"></i>
                <span class="menu-title">Beğeni İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Beğenileri Listele</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nav-category">Kullanıcı İşlemleri</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Üye İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Üye Oluştur </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Üyeleri Listele </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#yazar" aria-expanded="false" aria-controls="yazar">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Yazar İşlemleri</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="yazar">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/login.html">Yazar Oluştur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/samples/login.html">Yazarları Listele</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>