

<div class="card bg-primary card-rounded">
    <div class="card-body pb-0">
        <h4 class="card-title card-title-dash text-white mb-4">Toplam Makale Sayısı</h4>
        <div class="row">
            <div class="col-sm-4">
                <h2 class="text-info">@ViewBag.PostCount</h2>
            </div>
            <div class="col-sm-8">
                <div class="status-summary-chart-wrapper pb-4">
                    <canvas id="status-summary"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
