
@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12">
    <div class="home-tab">
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                <div class="row">
                   
                    <div class="col-lg-12 d-flex flex-column">
                        <div class="row flex-grow">
                            <div class="col-md-6 col-lg-4 grid-margin stretch-card" id="postCount">
                               
                            </div>
                            <div class="col-md-6 col-lg-8 grid-margin stretch-card" id="userCount">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex flex-column" id="index-table">

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .custom-pagination a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-family: 'Segoe UI';
        margin: 5px;
        transition: 0.3s all ease;
    }

        .custom-pagination a.active {
            background-color: black ;
            text-decoration: none;
            color: white;
        }

            .custom-pagination a.active:hover {
                background-color: gray;
                cursor:pointer;
            }

        .custom-pagination a:hover {
            background-color: gray;
            cursor:pointer;
        }

        .custom-pagination a.prev,
        .custom-pagination a.next {
            width: auto !important;
            text-decoration: none;
            color:black;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 10px;
        }

            .custom-pagination a.prev:hover,
            .custom-pagination a.next:hover {
                background-color: dimgray;
            }
</style>